Django==3.2.5
keras==2.8.0
mysql-connector-python==8.0.18
numpy==1.21.0
pandas==1.4.1
Pillow==9.0.1
PyMySQL
requests==2.27.1
scikit-learn==1.0.2
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
urllib3==1.26.9
Werkzeug==2.0.3
wrapt==1.14.0
zipp==3.7.0